<mat-toolbar color="primary">
  <span>Improved Parakeet</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="account_signin">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #account_signin="matMenu">
  <button mat-menu-item>Apple</button>
  <button mat-menu-item>Facebook</button>
  <button mat-menu-item>Github</button>
  <button mat-menu-item>Google</button>
  <button mat-menu-item>Microsoft</button>
  <button mat-menu-item>Twitter</button>

</mat-menu>